<!DOCTYPE html>
<html>
<head>
    <title>Available Slots</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='teacher_slots.css') }}">
</head>
<body>
    <div class="container">
        <h1>Available Slots</h1>
    
        <form method="get" action="{{ url_for('teacher_slots') }}">
            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" value="{{ selected_date }}">
            <button type="submit">Show Slots</button>
        </form>
        
        {% if selected_date %}
            {% if slots %}
            <div class="table-responsive">
                <table class="slot-table sortable">
                    <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th class="sorttable_nosort">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in slots %}
                        <tr>
                        <td>{{ slot.slot_start_time }}</td>
                        <td>{{ slot.slot_end_time }}</td>
                        <td><a href="{{ url_for('confirm_slot', slot_id=slot.id) }}">Book this slot</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>No available slots for selected date.</p>
            {% endif %}
        {% endif %}
        
        <br>
        <a class="back-link" href="{{ url_for('teacher_dashboard') }}">Back to Dashboard</a>
    </div>
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
</body>
</html>